.hero {
  background: url(../img/pesok_tech.jpg) center left;
  background-color: $dark-gray;
  padding-bottom: 128px;
  padding-top: 128px;

  & a, h1, h2, h3, h4 {
    font-weight: bold;
    color: $white;
  }

  & h1 {
    text-transform: uppercase;

    span {
      padding: 0.4rem 1rem;
      line-height: 5.1rem;
    }
  }

  & h3 {
    span {
      line-height: 1.6;
      padding: 0.3rem 1rem;
      background-color: $dark-color;
    }
  }
}
