.top-bar {
  background-color: $dark-color;
  padding: 0;

  & a {
    @include bg-light-color ($dark-color);
    transition: background-color $duration;
    &:hover {
      transition: background-color $duration;
    }
    &.nav-phone {
      line-height: 1;
      font-size: 1.6rem;
      background-color: $sub-color;
    }
  }

  & ul {
    background-color: $dark-color;
  }

  &__left {
    float: left;

    &__logo {
      display: block;
      color: $white;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1;

      padding: 1rem;

      small {
        color: $main-color;
      }

      &:hover {
        color: $white;
      }
    }
  }

  &__right {
    float: right;

    & .menu {
      list-style-type: none;
      margin: 0;

      & li {
        display: inline-block;

        font-weight: bold;
        text-transform: uppercase;

        margin: 0;

        & a {
          display: block;
          color: $white;
          padding: 1rem;
        }
      }

      & .menu {
        border: none;
        background-color: $sub-color;
        & a {
          background-color: $sub-color;
          transition: $duration;
          &:hover {
            background-color: $main-color;
            // background-color: mix($dark-color, $main-color, 92%);
            transition: $duration;
          }
        }
      }
    }
  }
}
