.main-content {
  margin: 4rem 0;
}

// Стили заголовка товаров

.product-header {
  position: relative;
  margin-bottom: 4rem;
  border-bottom: 1px solid $black;

  &__line {
    content: "";
    bottom: 8px;
    display: block;
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    margin-left: 100px;
    line-height: 0.8;
    display: inline-block;
    background-color: $white;
    padding: 1rem;
    border: $black solid 1px;
    border-bottom: none;
    margin-bottom: -1px;
  }
}

// Стили карт товара

.card{
  position: relative;
  border: none;
  display: block;
  height: 405px;
  background-color: #fff;
  overflow: visible;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
  transition: box-shadow $duration;
}

.card a{
  text-decoration: none;

  & h4 {
    color: $black;
  }
}

.card__p-list{
  position: absolute;
  top: -36px;
  left: 0;

  padding: 10px;

  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;

  background-color: $black;

  &__from, &__ton {
    font-size: 9px;
    text-transform: uppercase;
  }

  &__number{
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.card__header {
	overflow: hidden;
	background-color: #000;
	transition: height $duration;

	img {
		display: block;
		opacity: 1;
		transition: opacity $duration, transform $duration;
		transform: scale(1);
	}

	.card:hover & img {
		opacity: 0.6;
		transform: scale(1.2);
	}

	.card:hover & {
		height: 405px - 300px;
	}
}

.card__content {
  position: relative;
  height: 104px;
  transition: height $duration;

  .card:hover & {
    height: 100%;
  }
}

.card__content__wrapper {
  width: 100%;
  padding: 1rem;

  .card:hover & {
    position: absolute;
    right: 0;
    left: 0;

    background-color: $white;

    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
  }
}

.card__content__description {
  position: absolute;
  visibility: collapse;
  font-size: 0.8rem;
  opacity: 0;

  transition: opacity $duration - 0.1s, transform $duration - 0.1s;
  transition-delay: 0s;
  transform: translateY(25px);

  margin: 0;
  padding: 0;

  .card:hover & {
    visibility: visible;
    position: relative;
    opacity: 1;
    transition-delay: 0.1s;
    transform: translateY(0);

    margin-bottom: 1rem;
  }
}

.card__content__discover {
  color: $main-color;
  text-align: right;
  margin: 0;

  .card:hover & {
    display: none;
  }
}

.card__content__bottom {
  display: none;

  text-align: center;
  background-color: $main-color;
  color: $white;
  width: 100%;
  padding: .6rem;

  &:hover {
    color: $white;
    background-color: desaturate( $main-color, 20% );

  }

  .card:hover & {
    display: block;
  }
}
