<section id="aboutCompany" class="about-company">
	<div class="row">

		<div class="medium-10 medium-centered columns" style="padding: 2rem 0;">

			<div class="row">

				<div class="medium-3 columns">
					<img src="assets\img\engineer.svg" alt="">
				</div>

				<div class="medium-9 columns about-company__content" style="margin-top: 2.7rem;">
					<h2>О компании</h2>
					<p><b>Компания ООО "Локомотив" организует оптовые поставки:</b> щебень, пгс, а так же торф и других сыпучих строительных материалов на объекты в Ижевске и Удмуртии. Мы стремимся каждого заказчика сделать нашим постоянным клиентом. Для этого в рамках клиентоориентированного подхода мы постоянно расширяем перечень поставляемых материалов, чтобы как можно более полно обеспечить потребности возводимых объектов в расходных и строительных материалах.</p>
				</div>

			</div>


		</div>

	</div>

</section>
