<footer id="contacts" data-magellan-target="footer" class="footer">

  <div class="row">

    <div class="medium-10 medium-centered columns footer-top">
      <div class="row">
        <div class="footer-top__news medium-7 columns">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2180.680340789568!2d53.20978931597411!3d56.86857698086642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e138e272feefcb%3A0x70a9167c45812aa7!2z0JzQsNC50YHQutCw0Y8g0YPQuy4sIDgsINCY0LbQtdCy0YHQuiwg0YDQtdGB0L_Rg9Cx0LvQuNC60LAg0KPQtNC80YPRgNGC0LjRjywgNDI2MDEx!5e0!3m2!1sru!2sru!4v1493276500692" width="100%" height="368" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="medium-5 columns addres">
          <h3>Контакты</h3>
          <div itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name" style="display: none">Локомотив.pro</span>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <b>Адрес:</b>
              <span class="filled-row">
                <span itemprop="postalCode">426011</span>,
                <span itemprop="addressRegion">Удмуртская Республика</span>
              </span>
              <span class="filled-row">
                г. <span itemprop="addressLocality">Ижевск</span>,
                <span itemprop="streetAddress">ул. Майская, д.8, оф.39</span>
              </span>
            </div>
            <b>Приемная:</b>
            <span itemprop="telephone" class="filled-row"><a href="tel:+79225007500 ">+7 (922) 500-7-500</a></span>
            <b>Бухгалтерия:</b>
            <span itemprop="telephone" class="filled-row"><a href="tel:+73412776905">+7 (3412) 77-69-05</a></span>
            <b>E-mail:</b>
            <span itemprop="email" class="filled-row"><a href="mailto:office@lokomotiv.pro">office@lokomotiv.pro</a></span>
          </div>


        </div>
      </div>
    </div>


  </div>


  <div class="footer-bottom">
    <div class="row text-center">
      <div class="medium-12">
        <h6><small>Copyright © </small>ЛОКОМОТИВ.pro 2017  <small>Все права защищены</small></h6>
      </div>
    </div>
  </div>

</footer>


<!-- <div class="row">
<div class="medium-10 medium-centered columns">
<div class="row">
<div class="medium-2 columns">
ООО "Локомотив"
</div>
<div class="medium-4 columns">
Адрес: 426011, Удмуртская Республика, г. Ижевск, ул. Майская, д.8, оф.39
</div>
<div class="medium-6 columns">

</div>
</div>
</div>
</div> -->
