<header class="hero">

	<div class="row">

		<div class="small-10 medium-10 medium-offset-1 end columns">

			<h1 class="hero__main-header">
				<a href="#"><span class="bg-main-color hover-effect">Купить песок,</span></a><br>
				<a href="#"><span class="bg-main-color hover-effect">гравий,</span></a>
				<a href="#"><span class="bg-main-color hover-effect">щебень,</span></a><br>
				<span class="bg-main-color">в Ижевске</span>
			</h1>

			<br>

			<h3 class="hero-subheader">
				<span>Продажа и поставка нерудных материалов</span> <br>
				<span>в&nbsp;Ижевске и Удмуртии</span>
			</h3>

		</div>

	</div>

</header>
