<header class="marketing-hero home-large-hero">
	<div class="row homepage">
		<div class="small-10 medium-8 medium-offset-1 end columns">
			<h1 class="hero-main-header">
				<a href="#"><span class="bg-main-color hover-effect">Купить песок,</span></a><br>
				<a href="#"><span class="bg-main-color hover-effect">гравий,</span></a>
				<a href="#"><span class="bg-main-color hover-effect">щебень,</span></a><br>
				<span class="bg-main-color">в Ижевске</span>
			</h1>
			<h3 class="hero-subheader">Продажа и поставка нерудных материалов в&nbsp;Ижевске и Удмуртии</h3>
			<br>
			<a href="#" class="large button sites-button hide-for-small-only bg-main-color hover-effect">Заказать горячий звонок</a>
			<a href="#" class="small button sites-button show-for-small-only bg-main-color hover-effect">Заказать горячий звонок</a>
		</div>
	</div>
</header>
