<article class="main-content">

	<section id="goods" class="row">

		<header id="pesok" class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>Песок</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_stroy.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">300 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Песок Строительный</h4></a>
								<div class="card__content__description">
									<p>Карьерный (горный) песок  — природного происхождения. Неоднороден по составу — содержит примеси глинистых и пылевых частиц, следовательно, имеет более низкую цену на рынке. Применяется для строительных работ нулевого цикла — насыпей, отвалов, подстилающих слоев, оснований дорог. Используется при изготовлении бетона. Благодаря содержанию глины, карьерный песок лучше других видов песка подходит для раствора при кирпичной кладке.</p>
									<ul>
										<li><b>Самый универсальный в строительстве вид песка</b></li>
										<li><b>Лучший при кладке кирпича</b></li>
										<li><b>Доступная цена</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_c2l.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">250 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Песок на отсыпку</h4></a>
								<div class="card__content__description">
									<p>Карьерный (горный) песок  — природного происхождения. Неоднороден по составу — содержит примеси глинистых и пылевых частиц, следовательно, имеет более низкую цену на рынке. Применяется для строительных работ нулевого цикла — насыпей, отвалов, подстилающих слоев, оснований дорог.</p>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns end">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_rechnoy.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">440 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Речной песок</h4></a>
								<div class="card__content__description">
									<p>Речной песок — природного происхождения. Добываемый со дна реки, он естественным путем очищен от глинистых частиц и мелких камушков. Чистота речного песка от примесей, делает его основным компонентом при изготовлении строительного раствора и сухих смесей. Также песок речной используют для изготовлении бетона и асфальтобетонных смесей.</p>
									<ul>
										<li><b>Чистый от примесей</b></li>
										<li><b>Лучше остальных видов подходит для изготовления строительных смесей</b></li>
										<li><b>Обладает высокой водопроницаемостью — на асфальте, созданном на основе речного песка, практически не возникают лужи</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="sheben" class="row">

		<header class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>Щебень</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\sheben_dol.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">860 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Щебень доломитовый ФР. 40-70</h4></a>
								<div class="card__content__description">
									<ul>
										<li><b>Обладает высокой прочностью.</b></li>
										<li><b>Не впитывает влагу</b></li>
										<li><b>Благодаря высоким связующим свойствам, отлично подходит для изготовления бетона</b></li>
										<li><b>Данная фракция широко применяется при дорожном строительстве</b></li>
										<li><b>Обладает различными природными оттенками, что вместе с низкой радиоактивностью, делают его незаменимым при отделочных декоративных работах</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\sheben_dol.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">860 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Щебень доломитовый ФР. 20-40</h4></a>
								<div class="card__content__description">
									<ul>
										<li>Не впитывает влагу.</li>
										<li>Обладает высокой прочностью.
										Благодаря высоким связующим свойствам, отлично подходит для изготовления бетона</li>
										<li>Доломитовый щебень лучше всего подходит при изготовлении асфальта и железобетонных изделий</li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\sheben_gra.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">1120 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Щебень гранитный ФР. 5-20</h4></a>
								<div class="card__content__description">
									<ul>
										<li>Высокая морозостойкость</li>
										<li>Обладает высокой прочностью</li>
										<li>Небольшой размер зерен способствует более высокой плотности при изготовлении бетона и конструкций из него</li>
										<li>Самая подходящая фракция при изготовлении бетона</li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\sheben_gra.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">1060 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Щебень гранитный ФР. 40-70</h4></a>
								<div class="card__content__description">
									<ul>
										<li>Высокая морозостойкость</li>
										<li>Обладает повышенной прочностью</li>
										<li>Используется в строительстве для создания массивных бетонных конструкций</li>
										<li>Щебень этой фракции незаменим при работе с большим объемом бетона.</li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns end">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\sheben_gra.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">1050 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Щебень гранитный ФР. 20-40</h4></a>
								<div class="card__content__description">
									<ul>
										<li>Высокая морозостойкость</li>
										<li>Высокая прочность</li>
										<li>Размер зерен хорошо подходит для отсыпных площадок основания фундамента и как основание дорожного полотна</li>
										<li>Лучшая фракция при фундаментных работах</li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="graviy" class="row">

		<header class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>Гравий</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\graviy.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">880 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Гравий ФР. 3-20</h4></a>
								<div class="card__content__description">
									<!-- <p>Карьерный (горный) песок  — природного происхождения. Неоднороден по составу — содержит примеси глинистых и пылевых частиц, следовательно, имеет более низкую цену на рынке. Применяется для строительных работ нулевого цикла — насыпей, отвалов, подстилающих слоев, оснований дорог. Используется при изготовлении бетона. Благодаря содержанию глины, карьерный песок лучше других видов песка подходит для раствора при кирпичной кладке.</p> -->
									<ul>
										<li><b>Для приготовления различного рода подсыпок</b></li>
										<li><b>Лучший при строительстве грунтовых дорог</b></li>
										<li><b>Идеально подходит для изготовления дренажных подушек</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="shlak" class="row">

		<header class="medium-10 medium-centered columns" id="gravel">
			<div class="product-header">
				<h3>Шлак</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\shlak.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">380 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Шлак ФР.0-20</h4></a>
								<div class="card__content__description">
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\shlak.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">830 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Шлак ФР.70-120</h4></a>
								<div class="card__content__description">
									<ul>
										<li><b>Изготовлении конструкционного монолитного бетона</b></li>
										<li><b>Хорошо подходит для асфальтового покрытия</b></li>
										<li><b>Доступная цена</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\shlak.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">860 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Шлак ФР.20-70</h4></a>
								<div class="card__content__description">
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns end">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\shlak.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">380 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Шлак Нефракционный</h4></a>
								<div class="card__content__description">
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="pgs" class="row">

		<header class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>ПГС</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\PGS.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">560 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>ПГС</h4></a>
								<div class="card__content__description">
									<p>Песчано-гравийные смеси используют в дорожном строительстве, при производстве качественных изделий из железобетона. ПГС – это универсальный строительный материл, который пользуется большой популярностью. Это основное сырье строительной промышленности. По уровню добычи пгс является лидером среди других минералов и даже опережает известняки, которые весьма востребованы. Чаще всего песчано - гравийную смесь добывают в карьерах открытым способом. Закрытый способ нерентабелен, поэтому им в последнее время не пользуются.</p>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns end">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pgs_eco.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">460 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Природный ПГС</h4></a>
								<div class="card__content__description">
									<p>Песчано-гравийные смеси, исходя из количественного содержания в их составе гравия и размеров частиц, делятся на природные и обогащённые. Песчано- гравийная смесь природного происхождения относится к полезным ископаемым. Песчано-гравийную смесь добывают при помощи земснаряда (намывают с речного дна), либо добыча происходит экскаваторным способом в руслах некогда протекавших рек. Обогащенную песчано-гравийную смесь производят искусственно, добавляя в состав природной ПГС гравий.</p>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="opgs" class="row">

		<header class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>ОПГС</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\OPGS.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">700 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>ОПГС</h4></a>
								<div class="card__content__description">
									<ul>
										<li><b>Изготовления строительных растворов</b></li>
										<li><b>Изготовления бетона и асфальтобетона</b></li>
										<li><b>производства железобетонных конструкций и изделий</b></li>
										<li><b>проведения дорожных работ</b></li>
										<li><b>выравнивания больших по площади территорий, в частности в загородном строительстве</b></li>
										<li><b>засыпания оставшихся после проведения строительных и ремонтных работ котлованов</b></li>
										<li><b>устройства фундаментов домов</b></li>
										<li><b>проведения ландшафтно-дизайнерских работ</b></li>
										<li><b>любых других работ, где применяются ОПГС</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<section id="torf" class="row">

		<header class="medium-10 medium-centered columns">
			<div class="product-header">
				<h3>Торф</h3>
			</div>
		</header>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\torf.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">1000 руб.</span>
								<span class="card__content__p-list__ton">м³</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Торф фрезерованный</h4></a>
								<div class="card__content__description">
									<p>Торф - очень ценный продукт в растениеводстве и сельском хозяйстве, образуется в болотистых местностях, путем многолетних отложении органических материалов. Компания "Ижпоставка", готова предложить Вам два вида торфа , фрезерованный и карьерный. Карьерный добывают открытым способом, фрезерованный же после добычи, подвергается обработке. После обработки фрезерованный торф более чистый и рассыпчатый.</p>
									<p class="text-right"><b>Минимальный заказ 9 м³</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns end">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\torf.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">740 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Торф лесной</h4></a>
								<div class="card__content__description">
									<p>Торф как строительный материал имеет применение в гидротехническом и дорожном строительствах (приканальные дамбы, антифильтры, дорожные насыпи).</p>
									<p class="text-right"><b>Минимальный заказ 9 м³</b></p>
									<p><em>*Цена указана с учетом доставки по г.&nbsp;Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

</article>
