<article class="main-content">

	<section class="row">

		<div class="medium-10 medium-centered columns">
			<div class="product-header">

				<h3>Песок</h3>

			</div>
		</div>

		<div class="medium-10 medium-centered columns">

			<div class="row">

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_stroy.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">300 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Песок Строительный</h4></a>
								<div class="card__content__description">
									<p>Карьерный (горный) песок  — природного происхождения. Неоднороден по составу — содержит примеси глинистых и пылевых частиц, следовательно, имеет более низкую цену на рынке. Применяется для строительных работ нулевого цикла — насыпей, отвалов, подстилающих слоев, оснований дорог. Используется при изготовлении бетона. Благодаря содержанию глины, карьерный песок лучше других видов песка подходит для раствора при кирпичной кладке.</p>
									<ul>
										<li><b>Самый универсальный в строительстве вид песка</b></li>
										<li><b>Лучший при кладке кирпича</b></li>
										<li><b>Доступная цена</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г. Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_c2l.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">250 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Песок на отсыпку</h4></a>
								<div class="card__content__description">
									<p>Карьерный (горный) песок  — природного происхождения. Неоднороден по составу — содержит примеси глинистых и пылевых частиц, следовательно, имеет более низкую цену на рынке. Применяется для строительных работ нулевого цикла — насыпей, отвалов, подстилающих слоев, оснований дорог.</p>
									<ul>
										<li><b>Самый универсальный в строительстве вид песка</b></li>
										<li><b>Лучший при кладке кирпича</b></li>
										<li><b>Доступная цена</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 25т.</b></p>
									<p><em>*Цена указана с учетом доставки по г. Ижевск.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

				<div class="medium-4 columns">
					<div class="card">

						<div class="card__header">
							<a href="#">
								<img src="assets\img\pesok_rechnoy.jpg">
							</a>
						</div>

						<div class="card__content">

							<div class="card__content__p-list">
								<span class="card__content__p-list__from">от</span>
								<span class="card__content__p-list__number">440 руб.</span>
								<span class="card__content__p-list__ton">тонна</span>
							</div>

							<div class="card__content__wrapper">

								<a href="#"><h4>Речной песок</h4></a>
								<div class="card__content__description">
									<p>Речной песок — природного происхождения. Добываемый со дна реки, он естественным путем очищен от глинистых частиц и мелких камушков. Чистота речного песка от примесей, делает его основным компонентом при изготовлении строительного раствора и сухих смесей. Также песок речной используют для изготовлении бетона и асфальтобетонных смесей.</p>
									<ul>
										<li><b>Чистый от примесей</b></li>
										<li><b>Лучше остальных видов подходит для изготовления строительных смесей</b></li>
										<li><b>Обладает высокой водопроницаемостью — на асфальте, созданном на основе речного песка, практически не возникают лужи</b></li>
									</ul>
									<p class="text-right"><b>Минимальный заказ 10т.</b></p>
									<p><em>*Цена указана с учетом доставки по г. Ижевск, при заказе от 25-ти тонн.</em></p>
								</div>
								<p class="card__content__discover"><small>Узнать больше</small></p>
								<a href="#" class="card__content__bottom">Оформить заказ</a>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

	</section>

	<div class="row">
		<div class="medium-10 medium-centered columns">

			<h2>О компании</h2>
			<p><b>Компания ООО "Локомотив" организует оптовые поставки:</b> щебень, пгс, а так же торф и других сыпучих строительных материалов на объекты в Ижевске и Удмуртии. Мы стремимся каждого заказчика сделать нашим постоянным клиентом. Для этого в рамках клиентоориентированного подхода мы постоянно расширяем перечень поставляемых материалов, чтобы как можно более полно обеспечить потребности возводимых объектов в расходных и строительных материалах.</p>

		</div>
	</div>

</article>
