<nav class="top-bar">

    <div class="top-bar__left">
      <a class="top-bar__left__logo">ЛОКОМОТИВ<small>.pro</small></a>
    </div>

    <div class="top-bar__right hide-for-small-only"  data-magellan>
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="#servise">Услуги</a></li>
        <li>
          <a href="#goods">Товары</a>
          <ul class="menu">
            <li><a href="#pesok">Песок</a></li>
            <li><a href="#sheben">Щебень</a></li>
            <li><a href="#graviy">Гравий</a></li>
            <li><a href="#shlak">Шлак</a></li>
            <li><a href="#pgs">ПГС</a></li>
            <li><a href="#opgs">ОПГС</a></li>
            <li><a href="#torf">Торф</a></li>
          </ul>
        </li>
        <li><a href="#aboutCompany">О компании</a></li>
        <li><a href="#contacts">Контакты</a></li>
        <li><a href="tel:+1234567890" class="nav-phone"> +7 (922) 500-7-500 </a></li>
      </ul>
    </div>

</nav>
