<nav class="top-bar">

    <div class="top-bar__left">
      <a class="top-bar__left__logo">ЛОКОМОТИВ<small>.pro</small></a>
    </div>

    <div class="top-bar__right hide-for-small-only">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="">Услуги</a></li>
        <li>
          <a href="#">Товары</a>
          <ul class="menu">
            <li><a href="#">Песок</a></li>
            <li><a href="#">Щебень</a></li>
            <li><a href="#">Гравий</a></li>
            <li><a href="#">Шлак</a></li>
            <li><a href="#">ПГС</a></li>
            <li><a href="#">ОПГС</a></li>
            <li><a href="#">Торф</a></li>
          </ul>
        </li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>

</nav>
