<nav class="top-bar stacked-for-medium">

    <div class="top-bar-left">
      <div class="menu-text">ЛОКОМОТИВ<small>.pro</small></div>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="#">Товары</a>
          <ul class="menu vertical">
            <li><a href="#">Песок</a></li>
            <li><a href="#">Щебень</a></li>
            <li><a href="#">Гравий</a></li>
          </ul>
        </li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>

</nav>
